/* Контейнер списка вакансий */
.vacancy-list {
    display: flex;
    flex-direction: column; /* Вертикальное расположение строк */
    gap: 15px; /* Расстояние между строками */
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25); /* Тень */
    width: 100%; /* Список занимает всю ширину */
    margin: 0 auto; /* Центрирование, если есть дополнительные отступы */
}

