.resume-list {
    width: 70%; /* Уменьшил ширину контейнера со списком резюме */
    max-width: 800px; /* Ограничение максимальной ширины */
    margin: 0 auto; /* Центрирование списка */
    list-style: none;
    padding: 0;
}
